<div class="row">
    <div class="col py-2">
        <button id="buttonStart" class="btn btn-success center-block" style="width:100%">
            Start
        </button>
    </div>
    <div class="col py-2">
        <button id="buttonStop" class="btn btn-danger center-block" style="width:100%">
            Stop
        </button>
    </div>
    <div class="col py-2">
        <button id="buttonReboot" class="btn btn-warning center-block" style="width:100%">
            Reboot
        </button>
    </div>
    <div class="col py-2">
        <button id="buttonKill" class="btn center-block" style="width:100%">
            Kill
        </button>
    </div>
</div>
