<DOCTYPE html>
<html>
   <body>
      <div class="row">
         <div class="col py-2">
            <div class="btn-group btn-block">
               <button id="buttonNewInstance" type="button" class="btn btn-primary btn-block">Launch New Instance</button>
               <button id="buttonDropDown" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
               <span class="caret"></span>
               </button>
               <div class="dropdown-menu">
                  <a id="dropdownCreateImage" class="dropdown-item" href="#">Create Image</a>
                  <a id="dropdownBundleInstance" class="dropdown-item" href="#">Bundle Instance</a>
               </div>
            </div>
         </div>
         <div class="col py-2">
            <button id="buttonStart" class="btn btn-success center-block" style="width:100%">
            Start
            </button>
         </div>
         <div class="col py-2">
            <button id="buttonStop" class="btn btn-danger center-block" style="width:100%">
            Stop
            </button>
         </div>
         <div class="col py-2">
            <button id="buttonReboot" class="btn btn-warning center-block" style="width:100%">
            reboot
            </button>
         </div>
         <div class="col py-2">
            <button id="buttonKill" class="btn center-block" style="width:100%">
            Kill
            </button>
         </div>
      </div>
   </body>
</html>

