<DOCTYPE html>
<html>
	<body>

		<div class="row">
			<div class="col py-2" >		
	<button id="Button1" class="btn btn-primary center-block" style="width:100%">
	Launch New Instance
	</button>
			</div>
			<div class="col py-2">		
	<button id="Button1" class="btn btn-success center-block" style="width:100%">
	Start
	</button>
			</div>
			<div class="col py-2">		
	<button id="Button1" class="btn btn-danger center-block" style="width:100%">
	Stop
	</button>
			</div>
 			<div class="col py-2">		
	<button id="Button1" class="btn btn-warning center-block" style="width:100%">
	reboot
	</button>
			</div>
			<div class="col py-2">		
	<button id="Button1" class="btn center-block" style="width:100%">
	Kill
	</button>
			</div>








		</div>

	</body>
</html>


