<!DOCTYPE html>
<html lang="en">

{% include "include/head.html" %}

<body class="sticky-footer bg-dark" id="page-top">

{% include "include/nav.html" %}

<div class="content-wrapper">
	<nav>
		<div class = "nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" data-toggle="tab" href="#description">Description</a> 
			<a class="nav-item nav-link" data-toggle="tab" href="#status">Status</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div id="description" class="tab-pane fade show active">
			shit fuck put a table here
		</div>
		<div id="status" class="tab-pane fade">
			fuck shit shit fuck 
		</div>
	</div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    {% include "include/footer.html" %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    {% include "include/logout.html" %}

    {% include "include/scripts.html" %}
</div>
</body>

</html>
