<!DOCTYPE html>
<html lang="en">

{% include "include/head.html" %}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

{% include "include/nav.html" %}

<div class="content-wrapper">

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    {% include "include/footer.html" %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    {% include "include/logout.html" %}

    {% include "include/scripts.html" %}
</div>
</body>

</html>
