<!DOCTYPE html>
<html lang="en">

{% include "include/head.html" %}

<body class="sticky-footer bg-dark" id="page-top">

{% include "include/nav.html" %}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                EC2
            </li>
            <li class="breadcrumb-item active"><a href="/EC2/instances">Instances</a></li>
        </ol>
        <h1 class="align-left">Instances</h1>
        <div class="btn-group btn-block">
            <button id="buttonNewInstance" type="button" class="btn btn-primary btn-block">Launch New Instance</button>
        </div>
        <hr>
        <!-- Icon Cards-->
        <div class="row">

            {% for instance in instances %}
                {% set instance = instances[instance][0] %}

                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-{{ instance.State.Name }} o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                {% if instance.State.Name == 'running' %}
                                    <i class="fas fa-circle"></i>
                                {% elif instance.State.Name == 'pending' or instance.State.Name == 'shutting-down' or instance.State.Name == 'stopping' %}
                                    <i class="fas fa-spin fa-circle-notch"></i>
                                {% elif instance.State.Name == 'terminated' %}
                                    <i class="fas fa-trash-alt"></i>
                                {% elif instance.State.Name == 'stopped' %}
                                    <i class="fas fa-power-off"></i>
                                {% endif %}
                            </div>
                            {% if instance.Tags != None %}
                                {% for tag in instance.Tags %}
                                    {% if tag.Key == "Name" %}
                                        <h4 class="mr-5">{{ tag.Value }}</h4>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="mr-6">{{ instance.PublicIpAddress }}</div>
                        </div>

                        {% if instance.State.Name != 'terminated' %}
                            <a class="card-footer text-white clearfix small z-1"
                               href="/EC2/instance/{{ instance.InstanceId }}">
                                <span class="float-left">View Details</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    {% include "include/footer.html" %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    {% include "include/logout.html" %}

    {% include "include/scripts.html" %}

    <script>
        $(document).ready(function () {
            $('#buttonNewInstance').click(function (e) {
                buttonAjax($(this), {
                    method: "POST",
                    url: "/setNewInstance/" + "ami-97785bed",
                    data: {},
                    success: function (data, textStatus, request) {

                    },
                    error: function (data, textStatus, request) {

                    }
                });
            });
        });
    </script>

</div>
</body>

</html>
